@model ExternalQuizSite.Models.ModelQuiz

<!-- using WebApplication1.Models -->
@{
    //TempData["QuizView"] = Model;
    //TempData["QuizSelection"] =
}

<head>
    <title> Access Database </title>
</head>
<body>
    <h2>Quiz: <i>@Model.Quiz.QuizName</i></h2>
    <p> 
        Number Correct: @Model.Quiz.NumberCorrect           <br />
        Number of Questions: @Model.Quiz.NumeberOfQuestions      <br />
        Quiz Score: @Model.Quiz.Score                   <br />
    </p>


    @using (Html.BeginForm("QuizSubmission", "Home"))
    {
        for (int i = 0; i < Model.Quiz.Questions.Count; i++)
        {
            <P>
                @(i + 1). @Model.Quiz.Questions[i].QuestionString <BR>  
                @for (int j = 0; j < Model.Quiz.Questions[i].Answers.Length; j++)
                {
                    <t> Choice @(j+1): @Model.Quiz.Questions[i].Answers[j] </t><BR>
                }
                <t>@Model.Quiz.Questions[i].IsAnsweredCorrectly</t> <BR>
                <t>@Model.Quiz.Questions[i].CorrectAnswer</t> <BR>
                
            </P>
        }
    }


</body>
